.edit{
    width: 100%;
    background: whitesmoke;
    height: 200vh;
    box-sizing: border-box;
    /* margin-top: 20px; */
}
.editContainer{
    display: flex;
    width: 90%;
    margin: 20px auto;
    background: white;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 5px;
    /* padding: 20px 10px; */
}

.leftSide{
    flex: 1.5;
}

.rightSide{
    flex: 4;
    border-left: 1px solid rgb(117, 117, 117);
    padding: 30px 90px;
}

.leftImgProfile{
    display: flex;
    align-items: center;
}
.userInfoLeft{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.changeImg{
    color: teal;
    cursor: pointer;
    font-size: 12px;
}
.LeftImgProf{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}


.letfAbout{
    display: flex;
    margin-top: 20px;
}

.leftAboutTitle{
    color: red;
    margin-right: 20px;
    font-size: 15px;
    flex: .3;
    font-weight: 900;
}

.aboutContainer{
    border: 1px solid rgb(117, 117, 117);
    padding: 10px;
    border-radius: 5px;
    flex: 2;
}