.settings{
    display: flex;
    background: whitesmoke;
}


.settingsWrapper{
    flex: 9;
    padding: 20px;
}

.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


.settingsTitleDelete{
    color: tomato;
}